* {
  margin: 0;
}

div.company-logo {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

div.company-logo img {
  height: 100px;
}

.addBorder {
  border: 2px solid black;
}

div.nav-wrapper nav {
  width: 97.5%;
  margin: auto;
  text-align: center;
}

div.nav-wrapper nav ul {
  font-size: 0;
  padding: 0;
  white-space: nowrap;
}

div.nav-wrapper nav ul li {
  display: inline;
  padding: 3px 15px 3px 15px;
  background-color: #424242;
  font-size: 15px;
  transition: 0.5s;
}

div.nav-wrapper nav ul li:hover {
  padding: 7px 15px 7px 15px;
  border-radius: 3px;
  transition: 0.5s;
}

div.nav-wrapper nav ul li:nth-child(11) {
  background-color: #192f54;
}

div.nav-wrapper nav ul li a {
  text-decoration: none;
  color: white;
}

div.directories {
  width: 97.7%;
  margin: auto;
  margin-top: 25px;
}

div.directories p {
  color: gray;
}

div.directories p b {
  color: #393c42;
}

div.directories p span {
  font-weight: bold;
  color: #393c42;
}

div.shopping {
  margin-top: 30px;
}

div.shopping .item-viwer {
  width: 50%;
  display: inline-block;
}

div.shopping .item-viwer .main-viewer {
  width: 94.6%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.shopping .item-viwer .main-viewer img {
  height: 350px;
}

div.shopping .item-list {
  width: 94.6%;
  margin: auto;
  display: flex;
  justify-content: center;
}

div.shopping .item-list img {
  margin: 20px 0 20px 10px;
  box-sizing: border-box;
  height: 100px;
  width: 99px;
}

div.shopping .item-list img:hover {
  border: 2px solid black;
  transition: 0.5s;
  cursor: pointer;
}

div.shopping div.item-info {
  width: 50%;
  float: right;
}

div.shopping div.item-info div.Item-intro {
  width: 94.6%;
  margin: auto;
}

div.shopping div.item-info div.Item-intro h2 {
  margin: 0 0 20px 15px;
}

div.shopping div.item-info div.Item-intro p {
  color: #393c42;
  margin-bottom: 20px;
}

div.shopping div.item-info div.Item-intro ul {
  color: #393c42;
  margin-bottom: 15px;
}

div.shopping div.item-info div.item-pricing {
  width: 94.6%;
  margin: auto;
}

div.shopping div.item-info div.item-pricing form input {
  display: block;
  margin: 10px 0 18px 0;
}

div.shopping div.item-info div.expanded {
  width: 94.6%;
  margin: auto;
}

div.shopping div.item-info div.expanded a {
  text-decoration: none;
  color: #393c42;
  display: block;
}

div.shopping div.item-info div.expanded a img {
  margin-left: 5px;
}

div.shopping div.item-info div.expanded div.text p {
  margin: 10px 0 10px 13px;
  color: #393c42;
}

div.shopping div.item-info div.expanded-two {
  width: 94.6%;
  margin: auto;
}

div.shopping div.item-info div.expanded-two a {
  text-decoration: none;
  color: #393c42;
  display: block;
}

div.shopping div.item-info div.expanded-two a img {
  margin-left: 5px;
}

div.shopping div.item-info div.expanded-two div.text2 p {
  margin: 10px 0 10px 13px;
  color: #393c42;
}

.cart-modal {
  display: none;
  position: absolute;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.cart-modal .content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 26%;
  border-radius: 14px;
}

.cart-modal .content .Item-title {
  text-align: center;
  color: gray !important;
}

.cart-modal .content .item-img {
  margin-top: 9px;
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
}

.cart-modal .content .item-img img {
  height: 100px;
}

.cart-modal .content .closing {
  display: flex;
  justify-content: center;
}

.cart-modal .content .closing button {
  border-radius: 5px;
  background-color: gray;
  color: white;
}
